<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit User</title>
</head>
<body>
    <h1>Edit User</h1>
    <a href="/">Home</a>
<form action="/users/{{user.id}}/update" method="POST">
    <p>First Name:</p>
    <input type="text" name="first_name" Value = "{{user.first_name}}">
    <p>Last Name:</p>
    <input type="text" name="last_name" Value = "{{user.last_name}}">
    <p>Email:</p>
    <input type="text" name="email" Value = "{{user.email}}">
    <button>Edit</button>
</form> 
</body>
</html>