<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display One User</title>
</head>
<body>
    <h1>All Users</h1>
    <a href="/">Home</a>
    <table>
        <thead>
            <tr>
                <th>ID:</th>
                <th>First Name:</th>
                <th>Last Name:</th>
                <th>Email:</th>
                <th>Actions:</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{user.id}}</td>
                <td>{{user.first_name}}</td>
                <td>{{user.last_name}}</td>
                <td>{{user.email}}</td>
                <td><a href="/users/{{user.id}}/edit">Edit</a></td>
                <td><a href="/users/{{user.id}}/delete">Delete</a></td>
            </tr>
        </tbody>
    </table>
</body>
</html>