<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit ninja</title>
</head>
<body>
    <h1>Edit ninja</h1>
    <a href="/">Home</a>
<form action="/ninjas/{{ninja.id}}/update" method="POST">
    <p>First Name:</p>
    <input type="text" name="first_name" Value = "{{ninja.first_name}}">
    <p>Last Name:</p>
    <input type="text" name="last_name" Value = "{{ninja.last_name}}">
    <p>Age:</p>
    <input type="text" name="age" Value = "{{ninja.age}}">
    <button>Edit</button>
</form> 
</body>
</html>