<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display All ninja</title>
</head>
<body>
    <h1>All Ninja</h1>
    {% for ninja in all_ninjas %}
        <table>
            <thead>
                <tr>
                    <th>ID:</th>
                    <th>First Name:</th>
                    <th>Last Name:</th>
                    <th>Age:</th>
                    <th>Actions:</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ninja.id}}</td>
                    <td>{{ninja.first_name}}</td>
                    <td>{{ninja.last_name}}</td>
                    <td>{{ninja.age}}</td>
                    <td><a href="/ninjas/{{ninja.id}}">Show</a></td>
                    <td><a href="/ninjas/{{ninja.id}}/edit">Edit</a></td>
                    <td><a href="/ninjas/{{ninja.id}}/delete">Delete</a></td>

                </tr>
            </tbody>
        </table>
        {% endfor %}
        <a href="/ninjas/new"> Add New ninja</a>
</body>
</html>